.share {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.share__wrapper {
  padding: 10px;
}

.share__top {
  display: flex;
  align-items: center;
}

.share__profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.share__topInput {
  border: none;
  width: 80%;
}

.share__topInput:focus {
  outline: none;
}

.share__hr {
  margin: 20px;
}

.share__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share__bottomOptions {
  display: flex;
  margin-left: 20px;
}

.share__bottomOptionsOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.share__bottomOptionsOptionIcon {
  font-size: 18px;
  margin-right: 3px;
}

.share__bottomOptionsOptionText {
  font-size: 14px;
  font-weight: 500;
}

.share__bottomButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: #00b373;
  color: white;
  margin-right: 20px;
  cursor: pointer;
}
