.profileRightbar {
  flex: 3.5;
  
}

.profileRightbar__wrapper {
  padding: 20px 20px 0 0;
}

.profileRightbar__wrapperContainer {
  display: flex;
  align-items: center;
}

.profileRightbar__birthdayImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profileRightbar__birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.profileRightbar__ad {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.profileRightbar__title {
  margin-bottom: 20px;
}

.profileRightbar__friendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.profileRightbar__profileprofileRightbarTitle {
  font-style: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.profileRightbar__profileprofileRightbarInfo {
  margin-bottom: 30px;
}

.profileRightbar__profileprofileRightbarInfoItem {
  margin-bottom: 10px;
}

.profileRightbar__profileprofileRightbarInfoKey {
  font-weight: 500;
  margin-right: 12.5px;
  color: #555;
}

.profileRightbar__profileprofileRightbarInfoValue {
  font-weight: 300;
}

.profileRightbar__profileprofileRightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profileRightbar__profileprofileRightbarFollowing {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.profileRightbar__profileprofileRightbarFollowingImg {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}
