.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.post__wrapper {
  padding: 10px;
}

.post__postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__postTopLeft{
  display: flex;
  align-items: center;
  
}

.post__postTopLeftImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  
}

.post__postTopLeftUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.post__postTopLeftPostDate {
  font-size: 12px;
}

.post__postCenter {
  margin: 20px 0;
}

.post__postCenterImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.post__postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post__bottomLeft {
  display: flex;
  align-items: center;
}
.post__bottomLeftIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.post__bottomLeftLikeCounter {
  font-size: 15px;
}
.post__bottomRightCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}

.post__postTopRight{
  justify-content: flex-end;
}